{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
<legend class="text-center text-success">TEST 1 REUSSI</legend>
<p class="text-center text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolor debitis est pariatur esse, earum fugiat?<br> Accusantium repudiandae necessitatibus laboriosam, voluptatibus, labore corrupti quibusdam cum quos repellat perspiciatis similique, illo!</p>
{% endblock %}